<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <div class="ui icon warning message hidden">
      <i class="lock icon"></i>
      <div class="content">
        <div class="header">
          Login failed!
        </div>
        <p>You might have misspelled your username or password!</p>
      </div>
    </div>
    <h2 class="ui image header">
    <div class="content">
      Please take a moment to fill in the company details
    </div>
    </h2>
    <%= form_tag("/company_registration/save", method: "post",class: "ui large form") do %>
    <div class="ui   segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :company_name, nil , placeholder: "Company Name"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :no_of_employees, nil , placeholder: "No of employees"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :annual_revenue, nil , placeholder: "Annual Revenue"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :head_quaters, nil , placeholder: "Head Quaters"%>
        </div>
      </div>
      <div class="ui horizontal divider">
        Address
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :address_line_1, nil , placeholder: "Address line 1"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :address_line_2, nil , placeholder: "Address line 2"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :town_city, nil , placeholder: "Town / City"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :pincode, nil , placeholder: "Pincode"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :state, nil , placeholder: "State"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :country, "Service currently available only in India" , placeholder: "Country",disabled:true%>
        </div>
      </div>
      <div class="ui horizontal divider">
        Contract details
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :email_id, nil , placeholder: "Email"%>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= text_field_tag :landline_no, nil , placeholder: "Landline_no"%>
        </div>
      </div>
        <button class="ui fluid large teal submit button">Save</button>
         <div class="ui error message"></div>
    </div>
  <% end %>
</div>
</div>
<script type="text/javascript">
  CampusConnect.Login.Validation.completeRegistration();
</script>

